.resource-info {
    top: 480px;
    right: 40px;
    width: 96%;
    min-height: 180px;
    padding: 15px;
    background-color: rgb(83, 83, 232);
    border-radius: 15px;
    font-size: 16px;
    color: white;
  }
  @media (max-width: 480px) {
    .resource-info{
      width: 420px;
    }
  }